body {
  margin: 0;
  padding: 0; }

.F {
  height: 50px;
  width: 100%; }

.hijo2 {
  height: 50vh;
  width: 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap; }

.titulo {
  height: 20vh;
  width: 100%;
  text-align: center; }

.hijo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hijo2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.item {
  background-color: steelblue;
  color: #fff;
  margin: 2px 2px; }

.info {
  width: 50%; }

.mision {
  width: 100%; }

body {
  background: #A4A4A4; }
