@import "./mixins";

%reset{
	margin: 0;
	padding: 0;
}
%cont1{
	height: 50px;
	width: 100%;
}
%cont2{
	height: 50vh;
	width: 100%;
	justify-content: center;

}

$size: 50px;

.flex{	 
	
	display: flex;
	flex-flow: wrap;

}
.titulo{
	height: 20vh;
	width: 100%;
	text-align: center;
}
.hijo{
	display: flex;
	width: 100%;
	justify-content: center;
}
.hijo2{
	@extend %cont2;
	display: flex;

}
.item{
	background-color:steelblue;
	color:#fff;
	margin:2px 2px;	 
}

.F{
	@extend %cont1;
}
.info{
	width: 50%;
}
.mision{
	width: 100%
}
body{
	@extend %reset;
	background: #A4A4A4; 
	header{
	}
	main{

	}
	footer{
	}
}
